.booksList{
  margin: 50px;
  padding: 1rem;
  height: auto;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));

}

.bookCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: #61b15a;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-shadow: -4px 5px 30px 1px rgba(137,196,131,1);;
}

.bookImage{
  width: 100px;
  height: auto;
}

.descriptionItems{
  font-weight: bold;
}
